// Define variables for your color scheme

// For example:
$matrix-green: #21A022;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$p_orange: #FBC912;
$p_blue: #08A6FD;
$main-red: #CB1C67;
