#button-home{
  background-color: $main-red;
}






// .head-banner {
//   border-bottom: solid 1px #4878c4;
//   background-image: linear-gradient(to bottom, white, #e9f3f8);
// }

// .head-banner h3 {
//     font-family: -apple-system, system-ui, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
//     font-size: 28px;
//     font-style: normal;
//     font-variant: normal;
//     font-weight: 400;
//     letter-spacing: normal;
//     line-height: 26.4px;
//     text-decoration: none solid rgb(51, 102, 204);
//     text-align: start;
//     text-indent: 0px;
//     text-transform: none;
//     vertical-align: baseline;
//     white-space: normal;
//     word-spacing: 0px;
//     color: #1954b4;
// }

// p {

//  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
//  font-size: 16px;
//  font-style: normal;
//  font-variant: normal;
//  font-weight: 400;
//  letter-spacing: normal;
//  line-height: 26.4px;
//  text-decoration: none solid rgb(51, 102, 204);
//  text-align: start;
//  text-indent: 0px;
//  text-transform: none;
//  vertical-align: baseline;
//  white-space: normal;
//  word-spacing: 0px;

//  }

//  .table-container {
//   border: 1px solid #aaa;
//   background-color: #f9f9f9;
//   padding: 5px;
//  }

// table, th, td {
//   border: 1px solid black;
//   border: 1px solid #a2a9b1;
//   padding: 0.2em 0.4em;
// }

// table {
//   width: 100%;
// }

// th {
//   text-align: center;
//   border: 1px solid #a2a9b1;
//   padding: 0.2em 0.4em;
// }

// .background-grey {
//   background-color: #eeeeee;
// }

// .text-blue {
//   color: #0744ad;
// }

//   body {
//       background: white;
//     }

