#new_round {
  min-width:80%;
}

#round-options {
  //color: $matrix-green;
  font: $game-clean-font;
  color: black;
  margin-bottom: 20px;

  h4 {
    font-family: $game-clean-font;
    color: white;
  }
}

#to-fire-camp {
  background-color: #CB1C67;
}


#round-options-btn{
  background-color: #1bcb7f;
}

#round-options-ok-btn{
  background-color: #CB1C67;
}
