#test-container-for-receiving-ajax {
  position: relative;
  overflow: hidden;
  height: 100vh;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
}

#portal-test {
  position: absolute;
  border-radius: 50%;
  background-color: none;
  top:0px;
  left: 0px;
  transition: width 2s ease;

}

.small-portal {
  width: 0;
  height: 0;


}

.big-portal {
  box-shadow: 0px 0px 36px 13px rgba(0,255,255,1);
  width: 50%;
  height: 50%;
}

#zoom-container {
  position: absolute;
  transition: transform 0.5s ease;

}


.zoom-effect {
  filter: blur(1px);
  transform: scale(2);
}



// .bandeau-section {
//   display: none;
// }

// .bandeau-cell {
//   display: none;
// }

// #mwAQ {
//   display: none;
// }
