#game-navbar {
  width: 100%;
  height: 15vh;
  background-color: #343A40;
  position: fixed;
  top: 0;
  z-index: 10;
}

#game-container {
  position: relative;
  // overflow: hidden;
  overflow: auto;
  // height: 100vh;
  //border: 1px solid black;
  background-color: white;
  padding: 20px;
}

// #portal-test {
//   position: absolute;
//   border-radius: 50%;
//   background-color: none;
//   top:0px;
//   left: 0px;
//   transition: width 2s ease;

// }

// .small-portal {
//   width: 0;
//   height: 0;


// }

// .big-portal {
//   box-shadow: 0px 0px 36px 13px rgba(0,255,255,1);
//   width: 50%;
//   height: 50%;
// }

// #wikipage-container {
//   position: absolute;
//   transition: transform 0.5s ease;

// }






