<div class="container-fluid align-items-center justify-content-center mt-2">
  <div class="head-banner text-center p-3">
    <h3>Score final</h3>
  </div>
  <br>
  <div class="table-container bg-white">
    <table>
      <tr class="background-grey">
        <th class="text-blue">Position</th>
        <th class="text-blue">Joueurs</th>
        <th class="text-blue">Score</th>
      </tr>
      <% rank = 1 %>
      <% @players.each do |player| %>
        <tr>
          <th><%= rank %></th>
          <th><%= player.username %></th>
          <th><%= player.total_score_for(@game_session) %> points</th>
          <% rank += 1 %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
