<h1>Rounds#show</h1>
<p>This is our game page</p>
<p>en_page to be displayed and the "game_banner" with the counter </p>
<p>modal pop up when counter arrives to 5 or 3 </p>

<div class="container">
  <div id="test-container-for-receiving-ajax">

  </div>
</div>
