<h1>GameSessions#show</h1>
<p>This is our waiting page/ fire camp. </p>
<p>We should see users connecting and GM has a button START visible by him only.</p>
<p>this button will redirect everybody </p>
