<div class="main-container">
  <div class="title-container centered-vertically "><h1><span>A propos...</span></h1></div>
  <div class="content-container centered-vertically">

    <div class="title-container centered-vertically white-shadow "><h3><span>Pour la petite histoire :</span></h3></div>
    <div class="record-cards">
      <div class="card">
        <p>Février 2020: Développé comme projet de fin de formation, WikiRace n'avait alors que 2 semaines lorsque ses créateurs décident de le poursuivre dans le but d'affiner leurs connaissances de développeur. Mais voyant rapidement leurs amis se prendre "litteralement" au jeu, ils ont décidé d'en faire réellement une plateforme de jeu.</p>
      </div>
    </div>

    <div class="title-container centered-vertically white-shadow "><h3><span>Les créateurs :</span></h3></div>
    <div class="record-cards">
      <div class="card">
        <div>Tim</div>
        <div>Avatar</div>
        <div>Description</div>
      </div>
      <div class="card">
        <div>Alex</div>
        <div>Avatar</div>
        <div>Description</div>
      </div>
    </div>

    <div class="title-container centered-vertically white-shadow "><h3><span>Nous contacter :</span></h3></div>
    <div class="record-cards">
      <div class="card">
        <div><strong>Email :</strong> contact@wikirace.xyz</div>
      </div>
    </div>

    <div class="title-container centered-vertically white-shadow "><h3><span>Paye nous un verre :</span></h3></div>
    <div class="record-cards">
      <div class="card">
        <div><strong>Don de soutien :</strong> La marche à suivre...</div>
      </div>
    </div>

  </div>
</div>
