.btn-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: $p_blue;
  border: 1px solid $p_blue;
}

.btn-blue:hover {
  background-color: $p_blue;
  color: white;
  text-decoration: none;
}

//---------------------------

.btn-orange {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: $p_orange;
  border: 1px solid $p_orange;
}

.btn-orange:hover {
  background-color: $p_orange;
  color: white;
  text-decoration: none;
}

//---------------------------

.btn-blue-orange {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: $p_blue;
  border: 1px solid $p_orange;
}

.btn-blue-orange:hover {
  background-color: $p_orange;
  color: white;
  text-decoration: none;
}

//---------------------------

.btn-orange-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: $p_orange;
  border: 1px solid $p_blue;
}

.btn-orange-blue:hover {
  background-color: $p_blue;
  color: white;
  text-decoration: none;
}


.btn-tim{
  font-family: $game-clean-font, sans-serif;
  background-color: white;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 2px black;
  display:flex;
  align-items:center;
  justify-content: center;
  font-size: 20px;
  border: 1px solid white;
  width: 210px;
  height: 90px;
  border-radius: 50px;
  color:white;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
    transform:scale(0.9);
    text-decoration: none;
    color:white;
    cursor: pointer;
  }

  &:focus {
    outline:0;
  }
}

.main-red{
  background-color: $main-red;
}

.main-green{
  background-color: $main-green;
}

