/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  padding: 2%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-header{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 2%;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




