#grid-container-options{
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;



  .selectable-option.selected{

    background-color: $main-red;
    color: white;
    text-shadow: 1px 1px 2px black;
    max-height: 100px;

    .validation-option{
      display: block;
    }

  }

  .grid-option{
    position: relative;
    // border: 1px solid $main-red;
    margin: 10px;
    width: 100%;
    height: 100%;
    height: 100px;
    border-radius: 4px;
    background-color: white;
    color: $main-red;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    .title-option{
      font-family: $game-clean-font;
    }

    .validation-option{
      position: absolute;
      bottom: 10px;
      right:10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid white;
      background-color: white;
      color: $main-red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      display: none;
    }

    &:hover{
      cursor: pointer;

    //   background-color: $main-red;
    //   color: white;
    //   text-shadow: 1px 1px 2px black;
    //   .validation-option{
    //     display: block;
    //   }
     }

  }
}



