#test-container-for-receiving-ajax {

  a {
    color: #3266CB;
  }

  p {

    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 26.4px;
    text-decoration: none solid rgb(51, 102, 204);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;

  }

  sup {
    display: none;
  }

}
