<p>Salut <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Cet email a pour but de vous informer que votre va être modifié par : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Cet email a pour but de vous informer que votre a été modifié par : <%= @resource.email %>.</p>
<% end %>
