<p>Salut <%= @resource.email %>!</p>

<p>Votre compte WikiRace a été bloqué a cause d'un nombre trop important d'erreur pour se connecter.</p>

<p>Clique sur le lien suivant pour débloquer ton compte:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
